<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
	<label>
		First name:
		<input type="text" formControlName="firstName" required>
	</label><br>
	<label>
		Last name:
		<input type="text" formControlName="lastName">
	</label><br>

	<div formGroupName="address">
		<h3>Address</h3>
		<label>
    	Street:
    	<input type="text" formControlName="street">
  	</label><br>
		<label>
    	City:
    	<input type="text" formControlName="city">
  	</label><br>
  	<label>
    	State:
    	<input type="text" formControlName="state">
  	</label><br>
  	<label>
    	Zip Code:
    	<input type="text" formControlName="zip">
  	</label><br>
	</div>

	<div formArrayName="aliases">
		<h3>Aliases</h3>
		<button class="btn btn-success" (click)="addAlias()">Add Alias</button>

		<div *ngFor="let address of aliases.controls; let i=index">
			<!-- The repeated alias template -->
			<label>
				Alias:
				<input  type="text" [formControlName]="i">
			</label>
		</div>
	</div>

	<button class="btn btn-success" type="submit" [disabled]="!profileForm.valid">Submit</button>

</form>

<p style="margin-top: 20px;">
  <button class="btn btn-info" (click)="updateProfile()">Update Profile</button>
</p>
<p>
  Form Value: {{ profileForm.value }}
</p>
<p>
  Form Status: {{ profileForm.status }}
</p>