.title {
	color: royalblue;
	text-align: center;
}
nav {
	text-align: center;
}
.link {
	color: green;
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
	padding: 10px;
	margin: 0 5px;
	position: relative;
}
.link:hover {
	color: navy;
}
.link:active {
	color: #888;
}
.link + .link::before {
	content: '';
	width: 2px;
	height: 22px;
	background-color: black;
	position: absolute;
	top: 10px;
	left: -5px;
}
.link.active {
	color: red;
}